ody {
    background: var(--c-block);
    color: var(--c-text);
    font-size: 1rem;
    height: 100vh;
    height: 100dvh;
    display: grid
;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-smooth: always;
    padding: var(--h-header) 0 0 var(--w-sidebar);
    display: flex
;
    flex-direction: column;
}