.pluso-box{background:#465b6e;position:absolute;z-index:20;flex-direction:column}
.pluso-box a b{width:20px;height:20px;position:absolute;left:0;top:2px}
.pluso-box a:visited,.pluso-box a:hover,.pluso-box a{font:12px/21px "Trebuchet MS",Helvetica,Tahoma,Verdana;color:#7f7f7f;white-space:nowrap;padding:0 0 0 25px;margin:0 0 0 5px;border:0;position:relative;width:115px;float:left}
.pluso-box .pluso-list{color:#B3D0EC;background:#141f29;width:100%;height:100%;overflow:auto}
.pluso-box a.pluso-close,a.pluso-close:hover,a.pluso-close:visited{float:right;width:20px;text-align:center;font-size:12px;line-height:20px;width:20px;margin:1px 1px 0 0;padding:0;font-weight:bold;color:#4c4c4c;text-decoration:none;background:#ffffff;border:1px solid #eaebea}
.signin a.pluso-close,a.pluso-close:hover,a.pluso-close:visited{float:right;width:20px;text-align:center;font-size:12px;line-height:20px;width:20px;margin:1px 1px 0 0;padding:0;font-weight:bold;color:#4c4c4c;text-decoration:none;background:#ffffff;border:1px solid #eaebea}
.signin a.pluso-close:after{clear:both}
.uedbox a.pluso-close,.uedbox a.pluso-close:hover,.uedbox a.pluso-close:visited{float:right;width:20px;text-align:center;font-size:12px;line-height:20px;width:20px;margin:1px 1px 0 0;padding:0;font-weight:bold;color:#4c4c4c;text-decoration:none;background:#ffffff;border:1px solid #eaebea}
.pluso-box a.pluso-close:hover{background:#7f7f7f;color:#ffffff;border-color:transparent}
.pluso-box .pluso-list tr{font-size:12px}
.ulog{float:left;color:#E5FCA5;font-weight:700;font-size:8pt;padding:0 2px}

.d-box{background:#88A8CA;box-shadow:0 0 5px 0 #a5a2a2;position:absolute;z-index:100}
.d-box .inp{padding: 3px;text-align:center}
.d-box .subm{color:#fff}
.d-box #sign{display:block;padding:4px 2px 5px 2px;font-size:16px;color:#ccf9ed;width:14px;text-align:center;cursor:pointer}
.d-box a b{width:20px;height:20px;position:absolute;left:0;top:2px}
.d-box a:visited,.d-box a:hover,.d-box a{font:12px/21px "Trebuchet MS",Helvetica,Tahoma,Verdana;color:#7f7f7f;white-space:nowrap;padding:0 0 0 25px;margin:0 0 0 5px;border:0;position:relative;width:115px;float:left}
.d-box .pluso-list{color:#B3D0EC;background: #55616d;width:100%;height:344px;overflow:auto}
.d-box a.pluso-close,a.pluso-close:hover,a.pluso-close:visited{float:right;width:20px;text-align:center;font-size:12px;line-height:20px;width:20px;margin:1px 1px 0 0;padding:0;font-weight:bold;color:#4c4c4c;text-decoration:none;background:#ffffff;border:1px solid #eaebea}
.d-box a.pluso-close:hover{background:#7f7f7f;color:#ffffff;border-color:transparent}
.d-box .pluso-list tr{line-height:17px;font-size:11px}

.webdesigntuts-workshop{text-align:center;margin:0 auto}
.webdesigntuts-workshop form {
background: #111;
background: linear-gradient(#1b1b1b, #111);
border: 1px solid #000;
border-radius: 5px;
box-shadow: inset 0 0 0 1px #272727;
display: inline-block;
font-size: 0px;
position: relative;
z-index: 1;
}

.webdesigntuts-workshop input {
    background: #222;
    background: linear-gradient(#2f3a44, #1d262d);
    border: 1px solid #454d52;
    color: #888;
    display:block;
    float: left;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding: 6px 10px;
    text-shadow: 0 -1px 0 #000;
    width: 200px;
}

.ie .webdesigntuts-workshop input {
	line-height: 40px;
}

.webdesigntuts-workshop input::-webkit-input-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:-moz-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:focus {
	animation: glow 1500ms ease-out infinite alternate;
	background: #222922;
	background: linear-gradient(#333933, #222922);
	border-color: #393;
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}

.webdesigntuts-workshop input:focus::-webkit-input-placeholder {
	color: #efe;
}

.webdesigntuts-workshop input:focus:-moz-placeholder {
	color: #efe;
}

.webdesigntuts-workshop button {
	background: #222;
	background: linear-gradient(#333, #222);
	box-sizing: border-box;
	border: 1px solid #454d52;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	color: #fff;
	display: block;
	float: left;
	font-size: 13px;
	font-weight: 400;
	height:29px;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
}

.webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	color: #5f5;
	outline: none;
}

.webdesigntuts-workshop button:active {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}

@keyframes glow {
0% {
    border-color: #336899;
    box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
}
100% {
    border-color: #658fb5;
    box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
}
}

.webdesigntuts-workshop select {
	background: #222;
	background: linear-gradient(#333, #222);
	box-sizing: border-box;
	border: 1px solid #454d52;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	color: #fff;
	display: block;
	float: left;
	font-size: 13px;
	font-weight: 400;
	height:29px;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width:79px;
}