[Unit]
Description=WebSocket balance push server
After=mysql.service network.target

[Service]
Type=forking
PIDFile=/var/run/ws_balance.pid
ExecStart=/var/www/ws_server/ws_balance
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
